* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  padding: 20px;
}
.grid-item {
  padding: 30px;
  font-size: auto;
  text-align: center;
  transition: transform 450;
}
.grid-item:hover {
  transform: scale(1.08);
}
@media only screen and (max-width: 300px) {
  .Main {
    margin: 20px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: auto;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    margin: 20px;
  }
  .footer {
    font-size: 1rem;
  }
}
